@import "@fontsource-variable/geist";
@import "@fontsource-variable/geist-mono";
@import "tailwindcss";
@import "basecoat-css";

@theme inline {
  --font-sans: "Geist Variable", sans-serif;
  --font-heading: "Geist Variable", sans-serif;
  --font-mono: "Geist Mono Variable", monospace;
}
